@font-face {
  font-family: "Sina Nova";
  src: url("SinaNovaReg-webfont.eot?") format("eot"), url("SinaNovaReg-webfont.woff") format("woff"), url("SinaNovaReg-webfont.ttf") format("truetype"); }

* {
  font-family: "Source Sans Pro", "Open Sans", sans-serif; }

body {
  background-color: #fefefe; }

h1 {
  font-family: "Sina Nova";
  font-size: 2.2em; }

.header,
.col-wrapper > * {
  background-color: #fefefe; }

.box {
  background-color: #cbcbcb;
  border: solid 1px #bbbbbb; }

.footer {
  text-align: center;
  padding: 1em; }

.footer h1 {
  font-size: 1.1em; }

/* Classes for troubleshooting & changing elements */
.invisible {
  visibility: hidden; }

.hidden {
  display: none; }
