@font-face {
  font-family: "Sina Nova";
  src: url("SinaNovaReg-webfont.eot?") format("eot"), url("SinaNovaReg-webfont.woff") format("woff"), url("SinaNovaReg-webfont.ttf") format("truetype"); }

#div1 {
  background-color: red;
  border: solid 2px red; }

#div2 {
  background-color: green; }

#div3 {
  background-color: blue; }

h1 {
  font-family: "Open Sans", "Source Sans Pro", sans-serif;
  color: #fefefe;
  font-size: 1.2em;
  font-weight: 500; }

/* Classes for troubleshooting & changing elements */
.invisible {
  visibility: hidden; }

.hidden {
  display: none; }
