/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

 /* add Flexbox for easy positioning and alignment */
 
 /* adjust as needed */
 .flex-container {
	height: 100%;
	flex-flow: row wrap;
	display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
	display:flex;
	align-items: center;
  justify-content: center;

}

 /* adjust as needed */
.flex-item {
  position:relative;
	text-align: center;
  padding:0;
  margin:0;
}


/* Page styles */

body {
  background-color: #bbb;
}

#canvas {
  background-color: #fff;
  width: 50%;
  height: 50%;
}

/* classes for troubleshooting & changing elements */

.invisible {
  visibility:hidden;
}

.hidden {
  display:none;
}

.border {
	border:solid 2px red;
}
