// 1-2-1 3-column layout (includes nav, header, footer)

@import 'all';

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

 .navigation {
  @include flexbox();
  @include flex-flow(row wrap);
  width: 100%;
  justify-content: flex-end; 
}


.navigation > * {
  padding: 20px;
  border: solid 2px blue;
}


.wrapper {
  @include flexbox(); 
  @include flex-flow(row wrap);

  width: 100%;
  justify-content: center;
}


.wrapper > * {
  min-width: 25%;
  padding: 20px;
  border: solid 2px blue;
}



.header, .footer {
  width: 100%;
  text-align: center;
}


// responsive breakpoints

@media all and (max-width: 31.25em) {
  .navigation {
    @include flex-flow(column nowrap);
  }
  .navigation > * {
      @include flex(1 100%);
      text-align: center;
  }
  .wrapper {
    @include flex-flow(column nowrap);
  }
  .wrapper > * {
      @include flex(1 100%);
      text-align: center;
  }
}


@media all and (max-width: 50em) {
  .navigation {
    @include flex-flow(row wrap);
    @include flex(1 100%);
    @include justify-content(center);
  } 

  .wrapper > * { 
    @include flex-flow(row wrap);
    @include flex(1 100%);
    @include justify-content(center);
  }

}



@media all and (min-width: 50em) {
   .navigation {
    @include flex-flow(row wrap);
    @include flex(1 100%);
    @include justify-content(flex-end);
  } 

  .wrapper > * { 
    @include flex-flow(row wrap);
    @include flex(1 100%);
    @include justify-content(center);
  }

  .aside {  max-width: 25%; 
            @include flex(1);
          }

  .hero {   max-width: 50%;
            @include flex(2);     
        }

  .header { @include order(1);}
  .aside-left {@include order(2);}
  .hero {@include order(3);}
  .aside-right {@include order(4);} 
  .footer {@include order(5);}
}
