// 9-box responsive layout (includes nav, header, footer, hamburger menu icon)

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

@import 'all';


.col-wrapper {
  @include flexbox(); 
  @include flex-flow(column nowrap);
  width: 100%;
  height: 100%;
  justify-content: center;
  align-content: center;
}

 .header {
  @include flexbox();
  @include flex-flow(row wrap);
  width: 100%;
  justify-content: flex-end; 
}

#logo {
  position: absolute;
  width: 150px;
  height: 36px;
  background: url(../img/logo.png) no-repeat center;
  top: 15px; 
  left: 10px;
}
  

#menu-icon {
  display: block;
  width: 77px;
  height: 36px;
  background: url(../img/menu-icon.png) no-repeat center;
  margin: 15px;
  justify-content: flex-end;
  z-index: 10;
}




.col-wrapper > * {
  text-align: center;
  padding: 1.5em;
}

#big-red-button {
  display: block;
  width: 175px;
  height: 175px;
  background: url(../img/big-red-button.png) no-repeat center;
  margin: 15px;
  align-self: center;
}

.row-wrapper {
  @include flexbox(); 
  @include flex-flow(row wrap);
  width: 100%;
  justify-content: center;
}

.row-wrapper > * {
  text-align: center;
  padding: 1.5em;
}


.box {
  width: 33.33333333%;
}


// Responsive breakpoints

// 1. Small-screen

@media all and (max-width: 53em) {
 
  .box {
    width: 100%;
  }
}


// 2. Large-screen

// @media all and (min-width: 50em) {
//    .navigation {
//     @include flex-flow(row wrap);
//     @include flex(1 100%);
//     @include justify-content(flex-end);
//   } 
// }

