@font-face {
  font-family: "Sina Nova";
  src: url('SinaNovaReg-webfont.eot?') format('eot'), url('SinaNovaReg-webfont.woff') format('woff'), url('SinaNovaReg-webfont.ttf') format('truetype');
}

$header-font: 2em "Sina Nova";

$body-font: "Source Sans Pro", "Open Sans", sans-serif;
$body-font-weight: 300;
$body-font-color: black;



