@font-face {
  font-family: "Sina Nova";
  src: url('../font/SinaNovaReg-webfont.eot?') format('eot'), url('../font/SinaNovaReg-webfont.woff') format('woff'), url('../font/SinaNovaReg-webfont.ttf') format('truetype');
}

@mixin headline-font() {
font-family: "Sina Nova";
color: #999;
font-size: 2.2em;
font-weight: 600;
}

@mixin body-font() {
font-family: "Open Sans", "Source Sans Pro", sans-serif;
color: #999;
font-size: 1.2em;
font-weight: 500;
}


$base-font-size: 2.2em;

