@import 'all';

* {
	@include body-font();
}

body {
	background-color: $fill-color;
}

h1 {
	@include headline-font();
}

.header,
.col-wrapper > * {
	background-color: $fill-color;
}

.box {
	background-color: darken($fill-color, 20%);
}

.footer {
	text-align: center;
	padding: 1em;
}

.footer h1 {
	@include body-font();
}

p {
	@include body-font();
	padding: 0 0 0 0;
}


/* Classes for troubleshooting & changing elements */

.invisible {
  visibility:hidden;
}

.hidden {
  display:none;
}


