// Sass stuff: 

$base-color: black;
$background-color: #bbb;



/* Classes for troubleshooting & changing elements */

.invisible {
  visibility:hidden;
}

.hidden {
  display:none;
}

.border {
	border:solid 2px white;
}
