/* Page styles */

body {
  background-color: #bbb;
}

#canvas {
  background-color: #fff;
  width: 50%;
  height: 50%;
}



/* Classes for troubleshooting & changing elements */

.invisible {
  visibility:hidden;
}

.hidden {
  display:none;
}

.border {
	border:solid 2px red;
}
